name: Check for update and release

on:
  workflow_dispatch:
  schedule:
    - cron:  '0 0 * * *'

jobs:
  call-workflow-main:
    uses: thespad/actions/.github/workflows/check-and-release.yml@v9.0.9
    with:
      repo_owner: "thespad"
      app_name: "apcupsd_exporter"
      release_type: "github_tag"
      release_url: "https://api.github.com/repos/mdlayher/apcupsd_exporter"
      dockerhub_user: "thespad"
      branch_name: main
    secrets:
      repo_scoped_token: ${{ secrets.repo_scoped_token }}
      dockerhub_password: ${{ secrets.docker_password }}
