name: Build Image On Release

on:
  release:
    types: [ published ]
  pull_request:
  workflow_dispatch:

jobs:
  call-workflow-main:
    uses: thespad/actions/.github/workflows/build-image.yml@v9.0.10
    with:
      repo_owner: "thespad"
      app_name: "apcupsd_exporter"
      release_type: "github_tag"
      release_url: "https://api.github.com/repos/mdlayher/apcupsd_exporter"
      dockerhub_user: "thespad"
      target-arch: "64"
      sign_image: false
      branch_name: main
    secrets:
      dockerhub_password: ${{ secrets.DOCKER_PASSWORD }}
